<%- include('partials/head') %>
<div class="container-narrow" style="padding-bottom:70px">
  <p style="padding-top:36px"><a href="/admin" style="font-size:13px">← 返回管理后台</a></p>
  <div class="article-body"><%- contentHtml %></div>
</div>
</body>
</html>
